<div class="container col-12">
  <div class="row">
    <div class="col-5 text-center mt-5">
      <%= attachment_image_tag @user, :profile_image, :fill, 130, 130, fallback: "no_image.jpg", class: "rounded-circle"  %>
      <div class="mt-3">
       <h4><%= @user.name %></h4>
      </div>
        <h5><%= @user.sex_i18n %> <%= @user.location %>在住 <%= @user.profession %></h5>
      <% if @user.id == current_user.id %>
        <%= link_to edit_user_path(@user) do %>
          <button type="button" class="btn btn-outline-secondary"><i class="fas fa-cog"></i></button>
        <% end %>
      <% end %>
    </div>