<div class="container col-12">
  <div class="row">
    <div class="col-6 text-center mt-5">
      <h2>支出編集</h2>
    </div>

    <% if @spending.errors.any? %>
    <div class="col-6 text-danger mt-3">
      <%= @spending.errors.count %>件のエラーが発生しました
      <ul>
        <% @spending.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
    <%= form_with model: @spending, url: spending_path(@spending), local: true do |f| %>
  <div class="row">
    <div class="col-5 text-right mb-3">
      <%= f.label :日付 %>
    </div>
    <div class="col-7">
      <%= f.date_select :start_time %>
    </div>
  </div>

  <div class="row">
    <div class="col-5 text-right mb-3">
      <%= f.label :使った金額 %>
    </div>
    <div class="col-7">
      <%= f.text_field :spending_amount %>　円
    </div>
  </div>

  <div class="row">
    <div class="col-5 text-right mb-3">
      <%= f.label :genre_id, "カテゴリー" %>
    </div>
    <div class="col-4">
      <%= f.select :genre_id, {'食費': 1, '日用品': 2, '衣服': 3, '美容': 4, '教育費': 5, '光熱費': 6, '交際費': 7, '交通費': 8, '通信費': 9, '住居費': 10, '趣味・娯楽': 11, 'その他': 12},{ include_blank: '選択してください'}, { class: 'form-control' , required: true }  %>
    </div>
  </div>

  <div class="row">
    <div class="col-5 text-right mb-3">
      <%= f.label :メモ %>
    </div>
    <div class="col-7">
      <%= f.text_field :memo %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit '登録', class:"btn btn-outline-secondary" %>
    </div>
  </div>
    <% end %>

  <div class="row">
    <div class="col-6 text-center">
      <h4><%= link_to "戻る", spending_path(@spending), class:"text-dark" %></h4>
    </div>
  </div>
</div>