<h2>カレンダー</h2>

<%= month_calendar events: @spendings do |date, spendings| %>
  <%= date.day %>

  <% spendings.each do |spending| %>
    <div>
      <%= link_to spending_path(spending) do %>
        <%= spending.genre.name %>
        -<%= spending.spending_amount.to_s(:delimited) %>円
      <% end %>

    </div>
  <% end %>
<% end %>


