<div class="container col-12">
  <div class="row">
    <div class="col-5 mt-5 mb-3">
      <h2>カレンダー</h2>
    </div>
  </div>


    <%= month_calendar events: @spendings do |date, spendings| %>
      <%= date.day %>

      <% spendings.each do |spending| %>
        <div>
          <%= link_to spending_path(spending) do %>
          <div class="text-dark">
            <%= spending.genre.name %>
            ￥<%= spending.spending_amount.to_s(:delimited) %>
          </div>
          <% end %>

        </div>
      <% end %>
    <% end %>
</div>


