<div class="container col-12">
      <div class="row">
        <div class="col-6 text-center mt-5 mb-5">
          <h2>支出登録</h2>
        </div>
        <div class="col-6 mt-5 text-success">
          <h4><%= flash[:success] %></h4>
          <% if @spending.errors.any? %>
            <div class="col-6 text-center text-danger">
              <%= @spending.errors.count %>件のエラーが発生しました
                <ul>
                  <% @spending.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
                </ul>
            </div>
          <% end %>

        </div>
      </div>




        <%= form_with model: @spending, url: spendings_path(@spending), local: true do |f| %>
      <div class="row">
        <div class="col-5 text-right mb-3">
          <%= f.label :日付 %>
        </div>
        <div class="col-6">
          <%= f.date_select :start_time %>
        </div>
      </div>

      <div class="row">
        <div class="col-5 text-right mb-3">
          <%= f.label :使った金額 %>(半角)
        </div>
        <div class="col-6">
          <%= f.text_field :spending_amount %>　円
        </div>
      </div>

      <div class="row">
        <div class="col-5 text-right mb-3">
          <%= f.label :カテゴリー %>
        </div>
        <div class="col-4">
          <%= f.collection_radio_buttons :genre_id, Genre.all, :id, :name %>
        </div>
      </div>

      <div class="row">
        <div class="col-5 text-right mb-3">
          <%= f.label :メモ %>
        </div>
        <div class="col-6">
          <%= f.text_field :memo %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <%= f.submit '登録', class:"btn btn-outline-secondary" %>
        </div>
      </div>
        <% end %>
    </div>


    </div>
  </div>
</div>