<div class="container col-10">
<div class="row">
  <div class="col-3 text-center mt-3">
    <%= link_to "戻る", :back, class:"text-dark" %>
  </div>
</div>

  <div class="row">
    <div class="col-5 text-center mt-5">
      <h4>いいねしてくれたユーザー</h4>
    </div>
  </div>
</div>


  <div class="row justify-content-center">
  <div class="col-8">
        <% @post.liked_users.each do |user| %>
            <% if user.id == current_user.id %>
            <ul>
              <li>
                <%= link_to user_path(user), class:"text-dark" do %>
                  <%= attachment_image_tag user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", class: "rounded-circle" %>
                  <%= user.name %>（自分）
                  <%= user.sex_i18n %>
                  <%= user.location %>
                  <%= user.profession %>
                  <% if user.is_active == true %>
                    <div class="text-danger">公開中</div>
                  <% else %>
                    <div class="text-secondary">非公開</div>
                  <% end %>
                <% end %>
              </li>
            </ul>
            <% else %>
            <ul>
              <li>
                <%= link_to user_path(user), class:"text-dark" do %>
                  <%= attachment_image_tag user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", class: "rounded-circle" %>
                  <%= user.name %>
                  <%= user.sex_i18n %>
                  <%= user.location %>
                  <%= user.profession %>
                  <% if user.is_active == true %>
                    <div class="text-danger">公開中</div>
                  <% else %>
                    <div class="text-secondary">非公開</div>
                  <% end %>
                <% end %>
              </li>
            </ul>
            <% end %>


        <% end %>
  </div>
 </div>

</div>




