<div class="container col-10">
  <div class="row">
    <div class="col-5 text-center mt-5">
      <h4>いいねしてくれたユーザー</h4>
    </div>
  </div>
</div>


  <div class="row justify-content-center">
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th>ユーザー名</th><th>性別</th><th>お住まい</th><th>職業</th>
        </tr>
      </thead>
      <tbody>
        <% @post.liked_users.each do |user| %>
        <tr>
          <td>
            <% if user.id == current_user.id %>
              <%= attachment_image_tag user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", class: "rounded-circle" %>
              <%= user.name %>（自分）
            <% else %>
              <%= attachment_image_tag user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", class: "rounded-circle" %>
              <%= user.name %>
            <% end %>
          </td>
          <td><%= user.sex_i18n %></td>
          <td><%= user.location %></td>
          <td><%= user.profession %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>




