<h2>プロフィール編集</h2>
<%= form_with model: @user, url: user_path(@user), local: true do |f| %>
　<div class="field">
    <%= f.label :プロフィール画像 %><br />
    <%= f.attachment_field :profile_image %>
  </div>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.radio_button :sex, "male" %>
    <%= f.label :男性 %>
    <%= f.radio_button :sex, "woman" %>
    <%= f.label :女性 %>
  </div>

  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year), default: Date.new(1989, 1, 1) %>
  </div>

  <div class="field">
    <%= f.label :職業 %><br />
    <%= f.text_field :profession %>
  </div>

  <div class="field">
    <%= f.label :お住まい（都道府県）%><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :あなたの家計簿をみんなに公開しますか？ %><br />
    <%= f.radio_button :is_active, true %>
    <%= f.label :is_active, '公開', value: true%>
    <%= f.radio_button :is_active, false %>
    <%= f.label :is_active, '非公開', value: false %>
  </div>
  <%= f.submit "編集" %>
<% end %>