<div class="container col-12">
  <div class="row">
    <div class="col-5 text-center mt-5">
      <h2>プロフィール編集</h2>
    </div>

　<% if @user.errors.any? %>
  　<div class="col-6 text-danger mt-5">
      <%= @user.errors.count %>件のエラーが発生しました
      <ul>
         <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>

    <%= form_with model: @user, url: user_path(@user), local: true do |f| %>

  <div class="row">
    <div class="col-6 text-right mb-3">
      <%= f.label :プロフィール画像 %>
    </div>
    <div class="col-6">
      <%= f.attachment_field :profile_image %>
    </div>
  </div>


  <div class="row">
    <div class="col-6 text-right mb-3">
      <%= f.label :ニックネーム %>
    </div>
    <div class="col-6">
      <%= f.text_field :name, autofocus: true %>
    </div>
  </div>


  <div class="row">
    <div class="col-6 text-right mb-3">
      <%= f.label :性別 %>
    </div>
    <div class="col-6">
      <%= f.radio_button :sex, "male" %>
      <%= f.label :男性 %>
      <%= f.radio_button :sex, "woman" %>
      <%= f.label :女性 %>
    </div>
  </div>


  <div class="row">
    <div class="col-6 text-right mb-3">
      <%= f.label :職業 %>
    </div>
    <div class="col-6">
      <%= f.text_field :profession %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 text-right mb-3">
      <%= f.label :お住まい（都道府県）%>
    </div>
    <div class="col-6">
      <%= f.text_field :location %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 text-right mb-3">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 text-right mb-3">
      <%= f.label :あなたの家計簿をみんなに公開しますか？ %>
    </div>
    <div class="col-6">
      <%= f.radio_button :is_active, true %>
      <%= f.label :is_active, '公開', value: true%>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, '非公開', value: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit "編集", class:"btn btn-outline-secondary" %>
    </div>
  </div>

    <% end %>
</div>