<div class="container col-12">
  <div class="row">
    <div class="col-4 text-center mt-5">
      <%= attachment_image_tag @user, :profile_image, :fill, 130, 130, fallback: "no_image.jpg", class: "rounded-circle"  %>
       <h4><%= @user.name %></h4>
        <h4><%= @user.sex_i18n %> <%= @user.location %>在住 <%= @user.profession %></h4>
      <% if @user.id == current_user.id %>
        <%= link_to edit_user_path(@user) do %>
          <button type="button" class="btn btn-outline-secondary"><i class="fas fa-cog"></i></button>
        <% end %>
      <% end %>
      <table class="table mt-3">
          <thead>
            <tr>
              <th>目標</th>
            </tr>
          </thead>
          <tbody>
            <% @goals.each do |goal| %>
            <tr>
              <td><%= goal.goal %></td>
              
              <td>
                いいね件数: <%= goal.likes.count %>
                    <%= button_to 'いいね', goal_likes_path(goal) %>
              </td>
              <% if goal.user_id == current_user.id %>
                <td>
                  <%= link_to edit_goal_path(goal) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to goal_path(goal), method: :delete do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
                <% end %>
            </tr>
            <% end %>
          </tbody>
      </table>
  </div>
    <div class="col-8 mt-5">
      <div class="row mb-5">
        <div class="col-6">
          <h2><%= @month %>月の支出
            <% @sum = 0 %>
            <% @spendings.each do |spending| %>
              <% @sum += spending.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>
        <div class="col-6">
          <h2>先月の支出
            <% @sum = 0 %>
            <% @last_month.each do |last| %>
              <% @sum += last.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円
          </h2>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <h2>食費<i class="fas fa-utensils"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:1).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>

        <div class="col-6">
          <h2>日用品<i class="fas fa-pump-soap"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:2).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <h2>衣服<i class="fas fa-tshirt"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:3).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>

        <div class="col-6">
          <h2>美容<i class="fas fa-heart"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:4).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <h2>教育費<i class="fas fa-school"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:5).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>

        <div class="col-6">
          <h2>光熱費<i class="fas fa-faucet"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:6).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <h2>交際費<i class="fas fa-users"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:7).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>

        <div class="col-6">
          <h2>交通費<i class="fas fa-subway"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:8).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <h2>通信費<i class="fas fa-mobile-alt"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:9).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>

        <div class="col-6">
          <h2>住居費<i class="fas fa-home"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:10).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>
    </div>

      <div class="row mb-3">
        <div class="col-6">
          <h2>趣味・娯楽<i class="fas fa-shopping-cart"></i>
            <% @sum = 0 %>
            <% @spendings.where(genre_id:11).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>

        <div class="col-6">
          <h2>その他
            <% @sum = 0 %>
            <% @spendings.where(genre_id:12).each do |g| %>
              <% @sum += g.spending_amount %>
            <% end %>
            <%= @sum.to_s(:delimited) %>円</h2>
        </div>
      </div>
      <%= pie_chart @chart, donut: true, suffix: "円" %>
    </div>

</div>