<div class="container col-12">
  <div class="row justify-content-around">
    <div class="col-5 text-center mt-5">
      <%= attachment_image_tag @user, :profile_image, :fill, 130, 130, fallback: "no_image.jpg", class: "rounded-circle"  %>
      <div class="mt-3">
       <h4><%= @user.name %></h4>
      </div>
        <h5><%= @user.sex_i18n %> <%= @user.location %>在住 <%= @user.profession %></h5>
      <% if @user.id == current_user.id %>
        <%= link_to edit_user_path(@user) do %>
          <button type="button" class="btn btn-outline-secondary"><i class="fas fa-cog"></i></button>
        <% end %>
      <% end %>

  <div class="row">
    <div class="col-12 text-center mt-3">
      <h3><%= @month %>月の支出
        <% @sum = 0 %>
        <% @spendings.each do |spending| %>
        <% @sum += spending.spending_amount %>
        <% end %>
        ¥<%= @sum.to_s(:delimited) %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
　　　<% @genres.each do |genre| %>
　　　  <% if @user.id == current_user.id %>
            <%= link_to user_genre_path(@user.id,genre), class:"text-dark" do %>
        <h3>
          <div class="row">
            <div class="col-6 text-right">
              <%= genre.name %>
            </div>
              <% @sum = 0 %>
              <% genre.spendings.where(start_time: Time.current.all_month).each do |spending| %>
                <% if spending.user.id == @user.id%>
                  <% @sum += spending.spending_amount %>
                <% end %>
              <% end %>
            <div class="col-6 text-center">
              ¥<%= @sum.to_s(:delimited) %>
            </div>
          </div>
            <% end %>
            </h3>
            <% else %>
          <h3>
          <div class="row">
            <div class="col-6 text-right">
              <%= genre.name %>
            </div>
              <% @sum = 0 %>
              <% genre.spendings.where(start_time: Time.current.all_month).each do |spending| %>
                <% if spending.user.id == @user.id%>
                  <% @sum += spending.spending_amount %>
                <% end %>
              <% end %>
            <div class="col-6 text-left">
              ¥<%= @sum.to_s(:delimited) %>
            </div>
          </div>
          <% end %>
        </h3>
      <% end %>
    </div>
      </div>
    </div>
    <div class="col-7">
      <div class="mt-5 mb-3 text-left">
        <h3>投稿一覧</h3>
      </div>

      <div class="row">
        <div class="col-7 text-right">
          <%= link_to new_post_path, class:"text-dark" do %>
            <h1><i class="far fa-plus-square"></i></h1>
          <% end %>
        </div>
      </div>


      <% @posts.each do |post| %>
    <div class="row">
      <div class="col-7 mb-3">
        <%= attachment_image_tag post.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", class: "rounded-circle" %>
        <%= post.user.name %>
      </div>
    </div>

    <div class="row">
      <div class="col-7 mb-3">
        <%= attachment_image_tag post, :image, :fill, 430, 350 %>
      </div>
    </div>

    <div class="row">
      <div class="col-7 text-center mb-3">
        <%= post.body %>
      </div>
    </div>

    <div class="row">
      <div class="col-7 text-center">
        <% if current_user.already_liked?(post) %>
        <%= link_to post_likes_path(post), class:"text-dark", method: :delete do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to post_likes_path(post), class:"text-dark", method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
        <%= post.likes.count %>
      <% if post.user_id == current_user.id %>
        <%= link_to "いいね一覧", post_likes_path(post), class:"text-dark" %>
      <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-7 text-right">
        <%= post.created_at.strftime("%Y/%m/%d") %>
      </div>
    </div>

      <% end %>
    </div>
  </div>
</div>