<div class="container">
  <div class="row">
    <div class="col-5 text-center mt-5">
       <h2>新規投稿</h2>
    </div>
  </div>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
  <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
    <%= form_with model: @post, url: posts_path, local: true do |f| %>

  <div class="row">
    <div class="col-12 text-center mt-3 mb-3">
      <p>買いたいものややりたいことなどの夢や希望や、達成したことや叶ったことなどなんでも投稿してください！</p>
    </div>
  </div>

  <div class="row">
    <div class="col-5 text-right mb-3">
      <%= f.label :画像 %>
    </div>
    <div class="col-5">
      <%= f.attachment_field :image %>
    </div>
  </div>


  <div class="row">
    <div class="col-5 text-right mt-3">
      <%= f.label :本文 %>
    </div>
    <div class="col-5 mt-3">
      <%= f.text_area :body %>
    </div>
  </div>


  <div class="row">
    <div class="col-12 text-center mt-3">
      <%= f.submit "投稿", class:"btn btn-outline-secondary" %>
    </div>
  </div>


    <% end %>
</div>