<div class="container">
  <%= link_to "いいね", likes_path %>
  <div class="row">

    <div class="col-10 mt-5">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>目標</th><th></th><th></th>
            </tr>
          </thead>
          <% @goals.each do |goal| %>
            <tbody>

              <tr>
                <% if goal.achievement == false %>
               <td><%= link_to user_path(goal.user) do %>
                  <div class="text-dark">
                    <%= attachment_image_tag goal.user,:profile_image, fallback: "no_image.jpg", size:'40x40', class: "rounded-circle" %>
                    <%= goal.user.name %>
                  </div>
                    <% end %>
                </td>
                
                <td>
                  <% if goal.achievement == true %>
                    <div class="text-danger">達成</div>
                  <% else %>
                    <div class="text-secondary">未達成</div>
                  <% end %>
                  </td>
                
                <td>
                  <%= goal.goal %>
                </td>
                <td>
                  <% if current_user.already_liked?(goal) %>
                    <%= link_to goal_like_path(goal,goal.likes), method: :delete do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to goal_likes_path(goal), method: :post do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                  <%= goal.likes.count %>
                </td>
                <% end %>
              </tr>
            </tbody>
          <% end %>
      </table>
    </div>
</div>