<div class="container col-12">
  <div class="row">
    <div class="col-3 text-center">
      <div class="mt-5">
        <h2>目標</h2>
      </div>
      <%= form_with model: @goal, url: goals_path do |f| %>

      <div class="mt-4 mb-4">
        <%= f.text_area :goal %>
      </div>
        <%= f.submit "登録", class:"btn btn-secondary" %>
      <% end %>
    </div>
    <div class="col-4 mt-5">
      <table class="table">
          <thead>
            <tr>
              <th>目標</th><th></th><th></th>
            </tr>
          </thead>
          <% @goals.each do |goal| %>
            <tbody>

              <tr>
                <% if goal.achievement == false %>
               <td><%= link_to user_path(goal.user) do %>
                  <div class="text-dark">
                    <%= attachment_image_tag goal.user,:profile_image, fallback: "no_image.jpg", size:'40x40', class: "rounded-circle" %>
                    <%= goal.user.name %><% end %>
                </td>

                <td>
                  <%= goal.goal %>
                </td>
                <td>
                  <% if current_user.already_liked?(goal) %>
                    <%= link_to goal_like_path(goal,goal.likes), method: :delete do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to goal_likes_path(goal), method: :post do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                  <%= goal.likes.count %>
                </td>
                <% end %>
              </tr>
            </tbody>
          <% end %>
      </table>
    </div>
    <div class="col-5 mt-5">
      <table class="table">
        <thead>
          <tr>
            <th>達成</th><th></th><th></th>
          </tr>
        </thead>
        <tbody>
          <% @goals.each do |goal| %>
          <tr>
            <% if goal.achievement == true %>
            <td><%= link_to user_path(goal.user) do %>
              <%= attachment_image_tag goal.user,:profile_image, fallback: "no_image.jpg", size:'40x40', class: "rounded-circle" %>
              <%= goal.user.name %>
            </td>
            <td><%= goal.goal %></td>
            <td>
                  <% if current_user.already_liked?(goal) %>
                    <%= link_to goal_like_path(goal,goal.likes), method: :delete do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to goal_likes_path(goal), method: :post do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                  <%= goal.likes.count %>
                </td>
            <% end %>
            <% end %>
          </tr>
          <% end %>
        </tbody>

      </table>
    </div>

  </div>
</div>