<!DOCTYPE html>
<html>
  <head>
    <title>MyNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="footerFixed">
    <header>
        <a class="navbar-brand" href="/">My note</a>
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>

        <nav id ="global-nav">
              <% if user_signed_in? %>


              <li class="nav-item">
                 <%= link_to "MyPage", user_path(current_user), class:'nav-link text-dark' %>
              </li>

              <li class="nav-item">
                <%= link_to "Spending", new_spending_path, class:'nav-link text-dark' %>
              </li>

              <li class="nav-item">
                <%= link_to "Graph", graph_spendings_path, class:'nav-link text-dark' %>
              </li>

              <li class="nav-item">
                <%= link_to "Calendar", spendings_path, class:'nav-link text-dark' %>
              </li>

              <li class="nav-item">
                <%= link_to "Timeline",  posts_path, class:'nav-link text-dark' %>
              </li>

              <li class="nav-item">
                <%= link_to "LogOut",  destroy_user_session_path, method: :delete, class:'nav-link text-dark' %>
              </li>
              <% end %>
      </nav>
    </header>
    <main class="mb-auto">
    <% if flash[:notice] %>
      <p class="notice text-center text-success mt-3"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert text-center text-danger mt-3"><%= alert %></p>
    <% end %>
    <%= yield %>
    </main>

    <footer class="text-dark pt-3 pb-3">
      <p>@ All rights reserved by Harakawa.</p>
    </footer>
    </div>
    <script src="application.js"></script>
  </body>



</html>
