<!DOCTYPE html>
<html>
  <head>
    <title>MyNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="footerFixed">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">My note</a>

          <div class="collapse navbar-collapse justify-content-right">
            <ul class="navbar-nav">
              <% if user_signed_in? %>

              <li class="nav-item">
                <%= link_to "MyPage", user_path(current_user), class:'nav-link text-dark' %>
              </li>

              <li class="nav-item">
                <%= link_to "Spending", new_spending_path, class:'nav-link text-dark' %>
              </li>

              <li class="nav-item">
                <%= link_to "Graph", graph_spendings_path, class:'nav-link text-dark' %>
              </li>

              <li class="nav-item">
                <%= link_to "Calendar", spendings_path, class:'nav-link text-dark' %>
              </li>

              <li class="nav-item">
                <%= link_to "Timeline",  posts_path, class:'nav-link text-dark' %>
              </li>

              <li class="nav-item">
                <%= link_to "LogOut",  destroy_user_session_path, method: :delete, class:'nav-link text-dark' %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    </main>
    <footer class="bg-light text-dark pt-3 pb-3">
      <h4>My note</h4>
    </footer>
    </div>
  </body>

</html>
